*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}


ul,ol{
	list-style: none;
}

a{
	text-decoration: none;
}

html{
	scroll-behavior: smooth;
}
/* font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif; */

.header{
	margin: 20px 0;
}

.header-container{
	margin: 0 32px 0 146px;
}

.header-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-list{
	display: flex;
}

.header-list-item{
	margin-right: 36px;
	display: flex;
   align-items: center;
   position: relative;
}

.header-list-item > label{
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #000000;
	width: 0;
	height: 0;
	margin-left: 10px;
	transform: rotate(0deg);
	transition: all .3s ease 0s;
}

/* > - choose more close element */
.header-list-item > ul{
	z-index: 1;
	min-width: 215px;
	padding: 15px;
	border-radius: 0 10px;
	background-color: #000000;

	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%,0);
	transition: all .3s  ease 0s;

	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

@media(any-hover: hover){

	.header-list-item:hover a{
		color: #8cb2bf;
	}

	.header-list-item:hover > label{
		transform: rotate(180deg);
	}

	.header-list-item:hover > ul{
		opacity: 1;
		visibility: visible;
		transform: (-50%,0);
		pointer-events: all;
	}

	.header-list-item ul li{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.header-list-item ul li a{
		font-size: 18px;
	}

	.header-list-item ul li a:hover{
		cursor: pointer;
		text-decoration: underline;
	}

}


/* for phone media */
@media (hover:none){
	.nav__toggle:checked ~ ul{
		opacity: 1;
		visibility: visible;
		transform: (-50%,0);
		pointer-events: all;
	}

	.nav__toggle:checked + label{
		transform: rotate(180deg);
	}
}



.header-list-link{
	text-transform: uppercase;
	color: #000000;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #5B6460;
	transition: color .5s ease-out;
}

.header-list-link:hover{
	color: #8cb2bf;
	transition: color .4s ease-out;
}

.book-now-btn{
	padding: 16px 60px;
	border: none;
	background: #5B6460;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
	transition: background .5s ease-out;
}

.book-now-btn:hover{
	background: #808E88;
	transition: background .4s ease-out;
}
/* TODO burger start */
.burger{
	display: none;
	position: relative;
	z-index: 50;
	align-items: center;
	justify-content: flex-end;
	width: 30px;
	height: 18px;
	cursor: pointer;
}

.burger span{
	height: 2px;
	width: 100%;
	transform: scale(1);
	background-color: #000000;
}

.burger::before, .burger::after{
	content: "";
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: #000000;
	transition: all .3s ease 0s;
}

.burger::before{
	top: 0;
}

.burger::after{
	bottom: 0;
}

.burger.active span{
	transform: scale(0);
}

.burger.active::before{
	top: 50%;
	transform: rotate(-45deg) translate(0,-50%);
}

.burger.active::after{
	bottom: 50%;
	transform: rotate(45deg) translate(0,50%);
}

.open{
	display: flex !important;
}



/* TODO burger end */


.find-place-in-forest{
	position: relative;
	background: url('../images/background-find-place.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	margin-bottom: 150px;
	padding-top: 95px;
}

.find-place-in-forest-text{
	display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.find-place-in-forest-title{
	font-style: normal;
	font-weight: 400;
	font-size: 70px;
	line-height: 72px;
	color: #FFFFFF;
	margin-right: 58px;
	margin-bottom: 34px;
}

.find-place-in-forest-under-title{
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: #FFFFFF;
	margin-right: 142px;
	max-width: 333px;
}

.book-now-main-content{
	position: absolute;
	bottom: -30px;
	left: 146px;
	display: flex;
	align-items: center;
}

.book-now-main-content-link{
	padding: 36px 82px;
	background: #5B6460;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	transition: background .4s ease-out;
}

.book-now-main-content-link:hover{
	background: #808E88;
	transition: background .4s ease-out;
}

.price-for-book{
	background: #E9ECE0;
	box-sizing: border-box; 
	max-height: 100px;
	padding: 22px 30px 22px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.price-for-book-footer{
	background: #E9ECE0;
	box-sizing: border-box; 
	max-height: 100px;
	padding: 22px 30px 22px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.price-from{
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
	color: #333333;
	align-self: flex-start;
}

.price{
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 28px;
	color: #333333;
}

.per-night{
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
	color: #333333;
	align-self: flex-end;
}

.the-cabins-inner{
	display: flex;
	justify-content: space-between;
}

.the-cabins-info{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 50%;	
	margin-left: 150px;
}

.the-cabins-title{
	margin-bottom: 50px;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	color: #5B6460;
}

.the-cabins-text{
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	margin-right: 105px;
	margin-bottom: 20px;
}

.the-cabins-link{
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	color: #5B6460;
	border-bottom: 2px solid #5B6460;
	transition: color .3s ease-out,border .3s ease-out;
}

.the-cabins-link:hover{
	color: #8cb2bf;
	border-bottom: 2px solid #8cb2bf;
	transition: color .4s ease-out, border .4s ease-out;
}

.the-cabins-img-block{
	background: url("../images/theCabins-background.jpg") no-repeat;
	background-size: cover;
	width: 100%;
	height: 440px;
	margin-bottom: 150px;
}

.gallery-photo-inner{
	display: flex;
	justify-content: center;
}

.gallery-photo-list{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 8rem;
	margin-bottom: 150px;	
}

.gallery-photo-item img{
	transition: transform .4s ease;
}

.gallery-photo-item img:hover{
	transform: scale(1.1);
	
}

.location-map{
	display: flex;
	margin-bottom: 150px;
}

.about-the-forest{
	width: 50%;
	min-height: 400px;
	padding-top: 150px;
	padding-bottom: 150px;
	padding-left: 110px;
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	background: #E9ECE0;
}

.the-forest-title{
	margin-bottom: 50px;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	color: #5B6460;
}

.the-forest-text{
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	margin-right: 105px;
	margin-bottom: 20px;
	max-width: 600px;
}

.the-forest-link{
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	color: #5B6460;
	border-bottom: 2px solid #5B6460;
	transition: color .3s ease-out, border .3s ease-out;
}

.the-forest-link:hover{
	color: #8cb2bf;
	border-bottom: 2px solid #8cb2bf;
	transition: color .4s ease-out, border .4s ease-out;
	box-shadow: inset 0 20px 16px -16px rgba(0,0,0,0.1);
}

.the-forest-video-inner{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.the-forest-house-title{
	text-align: center;
	margin-bottom: 50px;
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 40px;
   color: #5B6460;
	font-weight: bold;
	background: linear-gradient(330deg, #38f9d7, #43e97b 70%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}

.the-forest-video{
	max-width: 1440px;
	margin: 0 auto;
}

.tube-video-forest-house{
	margin-bottom: 150px;
}

#audio-player{
	height: 50px;
	width: 50%;
	margin-bottom: 150px;
}

.facilities{
	background: #5B6460;
	padding-top: 150px;
}

.container-facilities{
	max-width: 1400px;
	margin: 0 auto;
}

.facilities-title{
	font-family: 'Open Sans',sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 120px;
}

.facilities-lists{
	display: flex;
	justify-content: space-between;
}

.facilities-list{
	display: flex;
	flex-direction: column;
	align-items: center;
	/* margin-bottom: 85px; */
}

.facitilies-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 90px;
}

.facitilies-item:last-child{
	margin-bottom: 120px;
}

.facitilies-img{
	margin-bottom: 20px;
}

.facitilies-item p{
	font-family: 'Open Sans',sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	color: #FFFFFF;
}

.more-about-us{
	display: flex;
	position: relative;
	margin-bottom: 150px;
}

.picture-about-us{
	width: 50%;
	height: 700px;
}

.more-about-us-btn{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 70px 30px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	color: #333333;
	transition: background .4s ease-out, color .4s ease-out;
}


.more-about-us-btn:hover{
	background: #8cb2bf;
	color: #FFFFFF;
	transition: background .4s ease-in, color .2s ease-in;
}

.picture-about-us-first{
	background: url('../images/moreAboutUs/firstPicture.png') no-repeat;
	background-size: cover;
}

.picture-about-us-second{
	background: url('../images/moreAboutUs/secondPicture.png') no-repeat;
	background-size: cover;
}

.stay-in-touch-with-us{
	margin-bottom: 150px;
}

.container-stay-in-touch-with-us{
	max-width: 1400px;
	margin: 0 auto;
}

.stay-in-touch-with-us-inner{
	display: flex;
	justify-content: space-between;
}

.stay-in-touch-with-us-title{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 60px;
	color: #5B6460;
}

.stay-in-touch-with-us-info{
	width: 50%;
}

.stay-in-touch-with-us-info-inner p{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	margin-bottom: 20px;
	padding-top: 50px;
}

.stay-in-touch-with-us-info-links{
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

.stay-in-touch-with-us-info-links a{
	font-family: 'Open Sans',sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #000000;
}

.stay-in-touch-with-us-info-list{
	display: flex;
}

.stay-in-touch-with-us-info-item{
	margin-right: 45px;
}

.stay-in-touch-with-us-picture{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stay-in-touch-with-us-picture-inner{
	background: url('../images/stayInTouchWithUs/firstPicture.png') no-repeat;
	width: 379px;
	height: 188px;
	position: relative;
}

.book-a-hut{
	position: absolute;
	bottom: -100px;
	left: 0;
	display: flex;
	align-items: center;	
	box-sizing: border-box;
}

.book-a-hut-link{
	padding: 36px 77px;
	background: #5B6460;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	transition: background .4s ease-out;
}

.book-a-hut-link:hover{
	background: #808E88;
	transition: background .4s ease-out;
}

.footer{
	padding-top: 100px;
	background: #5B6460;
}

.container-footer{
	max-width: 1400px;
	padding: 0 15px;
	margin: 0 auto;
}

.footer-inner{
	display: flex;
}

.newsletter{
	width: 50%;
}

.newsletter-title{
	font-family: 'Open Sans',sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	color: #FFFFFF;
	margin-bottom: 40px;
}

.newsletter input{
	height: 40px;
	width: 100%;
	background: none;
	border: none;
}

.newsletter input::placeholder{
	font-family: 'Open Sans',sans-serif;
	font-style: italic;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #FFFFFF;
}

.newsletter input:focus{
	outline: none;
}

.newsletter hr{
	margin-bottom: 10px;
}

.newsletter-first-text{
	margin-bottom: 70px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #FFFFFF;
	opacity: 0.7;
}

.newsletter-second-text{
	font-family: 'Open Sans',sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 30px;
	color: #EFEFEF;
	opacity: 0.7;
	margin-bottom: 100px;
}

.cards-and-privacy{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: end;
}

.privacy-list{
	display: flex;
	margin-bottom: 60px;
}

.privacy-item{
	margin-right: 35px;
}

.privacy-item:last-child{
	margin: 0;
}

.privacy-link{
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.cards-list{
	display: flex;
}

.cards-item{
	margin-right: 40px;
}

.cards-item:last-child{
	margin: 0;
}

@media (max-width: 1600px) {
	.gallery-photo-item img{
		width: 380px;
		height: 380px;
	}

	.tube-video-forest-house{
		width: 1024px;
		height: 768px;
	}

	
}

@media (max-width: 1440px) {
	.container-facilities{
		max-width: 1120px;
	}

	.container-stay-in-touch-with-us{
		max-width: 1120px;
	}

	.gallery-photo-list{
		gap: 6rem;
	}
	
	.container-footer{
		max-width: 1120px;
	}

	.gallery-photo-item img{
		width: 300px;
		height: 300px;
	}

	.tube-video-forest-house{
		width: 900px;
		height: 650px;
	}

}

@media (max-width: 1280px){
	.container-facilities{
		max-width: 900px;
	}

	.container-stay-in-touch-with-us{
		max-width: 900px;
	}

	.container-footer{
		max-width: 900px;
	}

	.header-container{
		margin: 0 auto;
		max-width: 1000px;
	}

	.newsletter{
		width: 40%;
	}

	.cards-and-privacy{
		width: 60%;
	}

	.tube-video-forest-house{
		width: 850px;
		height: 600px;
	}
}

@keyframes burgerAnimation{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@media (max-width: 1240px){
	.gallery-photo-list{
		gap: 4rem;
	}
}

@media (max-width: 1024px){

	.burger{
		display: flex;
	}

	.nav-header{
		display: none;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 50;
		overflow-y: auto;
		padding: 50px 40px;
		background-color: black;
		animation: burgerAnimation .4s;
	}

	.nav-header ul{
		flex-direction: column;
		align-items: center;
		row-gap: 80px;
	}

	.header-list-link{
		font-size: 36px;
	}

	.nav-header{
		padding: 0;
	}

	.header-list-item{
		margin-right: 0;
	}
	
	.burger.active::before, .burger.active::after{
		background-color: white;
	}

	.book-now{
		display: none;
	}

	.the-cabins-img-block{
		display: none;
	}

	.the-cabins-info{
		max-width: 100%;
		margin-bottom: 100px;
	}

	.gallery-photo-inner{
		display: flex;
		justify-content: center;
	}

	.gallery-photo-list{
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: 10px;
	}

	.gallery-photo-item{
		margin-bottom: 50px;
	}

	.gallery-photo-item img{
		height: 500px;
		width: 500px;
	}

	.about-the-forest{
		padding-top: 100px;
		padding-bottom: 100px;
		padding-left: 70px;
	}

	.the-forest-text{
		margin-right: 70px;
	}

	.container-facilities{
		max-width: 700px;
	}

	.container-stay-in-touch-with-us{
		max-width: 700px;
	}

	.container-footer{
		max-width: 700px;
	}

	.header-container{
		margin: 0 auto;
		max-width: 700px;
	}

	.logo{
		margin-right: 40px;
	}

	.price-for-book-footer{
		padding: 64px 30px;
	}

	.find-place-in-forest-text{
		align-items: center;
	}

	.find-place-in-forest-under-title{
		margin: 0;
	}

	.find-place-in-forest-title{
		margin-right: 0;
	}

	.privacy-list{
		flex-direction: column;
		align-items: flex-end;
	}

	.privacy-item{
		margin: 0;
		margin-bottom: 40px;
	}

	.privacy-link{
		font-size: 18px;
	}

	.tube-video-forest-house{
		width: 700px;
		height: 550px;
	}
}

@media (max-width: 800px){
	.header-container {
		max-width: 600px;
	}

	.find-place-in-forest-title{
		font-size: 50px;
	}
	#map{
		display: none;
	}

	.about-the-forest{
		width: 100%;
	}

	.the-forest-text{
		margin-bottom: 50px;
	}

	.the-forest-link{
		font-size: 22px;
	}

	.container-facilities{
		max-width: 600px;
	}

	.picture-about-us{
		height: 400px;
	}

	.container-stay-in-touch-with-us{
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
  
	}

	.stay-in-touch-with-us-inner{
		justify-content: center;
		align-items: center;
		flex-direction: column;

	}

	.stay-in-touch-with-us-info-inner{
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
  
	}
	.stay-in-touch-with-us-picture{
		display: none;
	}

	.stay-in-touch-with-us-info-inner p{
		text-align: center;
		font-size: 26px;
	}

	.stay-in-touch-with-us-info-links a{
		text-align: center;
		font-size: 22px;
	}

	.container-footer{
		max-width: 600px;
	}

	.tube-video-forest-house{
		width: 550px;
		height: 400px;
	}
}

@media (max-width: 640px){
	.header-container{
		max-width: 450px;
	}
	
	.book-now-main-content{
		display: none;
	}

	.facilities{
		display: none;
	}

	.container-footer{
		max-width: 450px;
	}

	.footer-inner{
		flex-direction: column;
	}

	.newsletter{
		width: 100%;
	}

	.cards-and-privacy{
		width: 100%;
	}

	.gallery-photo-item img{
		height: 300px;
		width: 300px;
	}

	.picture-about-us{
		height: 300px;
	}

	.cards-and-privacy{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.privacy-list{
		align-items: center;
	}

	.tube-video-forest-house{
		width: 410px;
		height: 240px;
	}
}

@media (max-width: 450px){
	.header-container{
		max-width: 300px;
	}

	.find-place-in-forest-title{
		font-size: 44px;
		text-align: center;
	}

	.the-cabins-inner{
		display: block;
	}

	.the-cabins-info{
		margin-left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.the-cabins-text{
		margin-right: 0;
		max-width: 300px;
	}

	.stay-in-touch-with-us-title{
		text-align: center;
	}

	html,body{
		overflow-x: hidden;
	}

	.tube-video-forest-house{
		width: 310px;
		height: 180px;
	}
}




 /* ! theHut.html */

.the-hut{
	margin-bottom: 150px;
}

.the-hut-inner{
	background: url('../images/1TheHutPage/header-section-background.png') no-repeat;
	background-size: cover;
	height: 350px;
}

.the-hut-inner{
	display: flex;
	justify-content: center;
	align-items: center;
}

.the-hut-title{
	font-family: 'Open Sans',sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 70px;
	line-height: 72px;
	text-align: center;
	color: #FFFFFF;
}

.container-main-block-the-hut{
	max-width: 1440px;
	margin: 0 auto;
}

.outside-inner{
	display: flex;
	margin-bottom: 220px;
}

.img-outside{
	background: url('../images/1TheHutPage/the-outside.png') no-repeat;
	background-size: cover;
	width: 50%;
}

.outside-info{
	width: 50%;
	display: flex;
	align-items: start;
	flex-direction: column;
	margin-left: 140px;
	margin-top: 100px;
}

.outside-title{
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	color: #5B6460;
	margin-bottom: 50px;
}

.hot-tube-and-el-car{
	display: flex;
	margin-bottom: 50px;
}

.hot-tube-and-el-car p:first-child{
	margin-right: 30px;
}

.hot-tube-and-el-car p{
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #5B6460;
	
}

.outside-text{
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #333333;
	margin-bottom: 100px;
}

.img-inside{
	background: url('../images/1TheHutPage/the-inside.png') no-repeat;
	background-size: cover;
	width: 50%;
}

.the-inside-inner{
	display: flex;
	margin-bottom: 220px;
	justify-content: space-between;
}

/*  */
.inside-info{
	width: 50%;
	display: flex;
	align-items: start;
	flex-direction: column;
	max-width: 520px;
}

.inside-title{
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	color: #5B6460;
	margin-bottom: 50px;
}

.space-kitchen-bathroom{
	display: flex;
	margin-bottom: 50px;
}



.space-kitchen-bathroom p{
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #5B6460;
	margin-right: 25px;
	
}

.inside-text{
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #333333;
	margin-bottom: 200px;
}
/*  */

.img-practicalities{
	background: url('../images/1TheHutPage/practicalities.png') no-repeat;
	background-size: cover;
	width: 50%;
}

.practicalities-info{
	width: 50%;
	display: flex;
	align-items: start;
	flex-direction: column;
	margin-left: 140px;
	margin-top: 100px;
}

.practicalities-title{
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	color: #5B6460;
	margin-bottom: 50px;
}

.breakfest-dinner{
	display: flex;
	margin-bottom: 50px;
}

.breakfest-dinner p:first-child{
	margin-right: 30px;
}

.breakfest-dinner p{
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #5B6460;
	
}

.practicalities-text{
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #333333;
	margin-bottom: 200px;
}

.practicalities-inner{
	display: flex;
	margin-bottom: 220px;
	justify-content: space-between;
}

/* ! TheHut end */

/* !!!!         THE AREA PAGE       !!!! */
/* !!!!         THE AREA PAGE       !!!! */

.the-area{
	margin-bottom: 150px;
}

.the-area-inner{
	background: url('../images/2TheArea/the-area-background.png') no-repeat;
	background-size: cover;
	height: 350px;
}

.the-area-inner{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.the-area-title{
	font-family: 'Open Sans',sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 70px;
	line-height: 72px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 15px;
}

.location-area{
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}

.location-area img{
	width: 10px;
	height: 15px;
	margin-right: 10px;
}

.vesterborg-denmark-location{
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
	text-decoration-line: underline;
	color: #FFFFFF;
}

.get-directions{
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 15px 30px;
	border: 1px solid #FFFFFF;
	outline: 1 solid #FFFFFF;
	background: none;
	cursor: pointer;
}

.container-main-block-the-area{
	max-width: 1440px;
	margin: 0 auto;
}

.vesterborg-inner{
	display: flex;
	margin-bottom: 220px;
}

.img-vesterborg{
	background: url('../images/2TheArea/vesterborg.png') no-repeat;
	background-size: cover;
	width: 50%;
}

.vesterborg-info{
	width: 50%;
	display: flex;
	align-items: start;
	flex-direction: column;
	margin-left: 140px;
	margin-top: 100px;
}

.vesterborg-title{
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	color: #5B6460;
	margin-bottom: 50px;
}

.lorem-text-area{
	margin-bottom: 50px;
	max-width: 350px;
}


.lorem-text-area p{
	font-style: italic;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	color: #5B6460;
}

.vesterborg-text{
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #333333;
	margin-bottom: 100px;
}

/*  */

.img-inside{
	background: url('../images/1TheHutPage/the-inside.png') no-repeat;
	background-size: cover;
	width: 50%;
}

.the-inside-inner{
	display: flex;
	margin-bottom: 220px;
	justify-content: space-between;
}

/*  */
.inside-info{
	width: 50%;
	display: flex;
	align-items: start;
	flex-direction: column;
	max-width: 520px;
}

.inside-title{
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	color: #5B6460;
	margin-bottom: 50px;
}

.space-kitchen-bathroom{
	display: flex;
	margin-bottom: 50px;
}



.space-kitchen-bathroom p{
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #5B6460;
	margin-right: 25px;
	
}

.inside-text{
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #333333;
	margin-bottom: 200px;
}

/* soon will do */
/*  I need to do maps img section first*/

.the-maps-with-text{
	margin-bottom: 150px;
}

.img-maps-block{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.img-maps{
	background: url('../images/2TheArea/map.png') no-repeat;
	background-size: cover;
	width: 500px;
	height: 500px;
}

.maps-with-text-info{
	width: 50%;
}

.the-maps-with-text-inner{
	display: flex;
	justify-content: space-between;
}

.text-block-maps{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
}



.maps-with-text{
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #333333;
}

/* ! activities start*/
/* ! activities start*/

.activities-title{
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 56px;
	color: #5B6460;
	margin-bottom: 100px;
}

.restaurants-shopping-inner{
	display: flex;
	margin-bottom: 220px;
	justify-content: space-between;
}

.img-restaurants-shopping{
	background: url('../images/2TheArea/restaurants-shopping.png') no-repeat;
	background-size: cover;
	width: 50%;
}

.restaurants-shopping-info{
	width: 50%;
	display: flex;
	align-items: start;
	flex-direction: column;
	margin-left: 140px;
	margin-top: 100px;
}

.restaurants-shopping-title{
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	color: #5B6460;
	margin-bottom: 50px;
}

.breakfest-dinner{
	display: flex;
	margin-bottom: 50px;
}

.breakfest-dinner p:first-child{
	margin-right: 30px;
}

.breakfest-dinner p{
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #5B6460;
	
}

.restaurants-shopping-text{
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #333333;
	margin-bottom: 200px;
}



/* ! activities end*/
/* ! activities end*/


/* ! Experiences in nature start*/
/* ! Experiences in nature start*/


.img-experiences-in-nature{
	background: url('../images/2TheArea/experiences-in-nature.png') no-repeat;
	background-size: cover;
	width: 50%;
}

.the-experiences-in-nature-inner{
	display: flex;
	margin-bottom: 220px;
	justify-content: space-between;
}

/*  */
.experiences-in-nature-info{
	width: 50%;
	display: flex;
	align-items: start;
	flex-direction: column;
	max-width: 520px;
}

.experiences-in-nature-title{
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	color: #5B6460;
	margin-bottom: 50px;
}

.space-kitchen-bathroom{
	display: flex;
	margin-bottom: 50px;
}



.space-kitchen-bathroom p{
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #5B6460;
	margin-right: 25px;
	
}

.experiences-in-nature-text{
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #333333;
	margin-bottom: 200px;
}


/* ! Experiences in nature end*/
/* ! Experiences in nature end*/

.img-practicalities{
	background: url('../images/1TheHutPage/practicalities.png') no-repeat;
	background-size: cover;
	width: 50%;
}

.practicalities-info{
	width: 50%;
	display: flex;
	align-items: start;
	flex-direction: column;
	margin-left: 140px;
	margin-top: 100px;
}

.practicalities-title{
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	color: #5B6460;
	margin-bottom: 50px;
}

.breakfest-dinner{
	display: flex;
	margin-bottom: 50px;
}

.breakfest-dinner p:first-child{
	margin-right: 30px;
}

.breakfest-dinner p{
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #5B6460;
	
}

.practicalities-text{
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #333333;
	margin-bottom: 200px;
}

.practicalities-inner{
	display: flex;
	margin-bottom: 220px;
	justify-content: space-between;
}

/* !!!!         THE AREA PAGE       !!!! */
/* !!!!         THE AREA PAGE       !!!! */
