*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

/* font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif; */

.header{
	margin: 20px 0;
}

.header-container{
	margin: 0 32px 0 146px;
}

.header-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-list{
	display: flex;
	list-style: none;
}

.header-list-item{
	margin-right: 36px;
}

.header-list-link{
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

.book-now-btn{
	padding: 16px 60px;
	border: none;
	background: #5B6460;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
}

.find-place-in-forest{
	position: relative;
	background: url('../images/background-find-place.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	margin-bottom: 150px;
	padding-top: 95px;
}

.find-place-in-forest-text{
	display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.find-place-in-forest-title{
	font-style: normal;
	font-weight: 400;
	font-size: 70px;
	line-height: 72px;
	color: #FFFFFF;
	margin-right: 58px;
	margin-bottom: 34px;
}

.find-place-in-forest-under-title{
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: #FFFFFF;
	margin-right: 142px;
	max-width: 333px;
}

.book-now-main-content{
	position: absolute;
	bottom: -30px;
	left: 146px;
	display: flex;
	align-items: center;
}

.book-now-main-content-link{
	padding: 36px 82px;
	background: #5B6460;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
}

.price-for-book{
	background: #E9ECE0;
	box-sizing: border-box; 
	max-height: 100px;
	padding: 22px 30px 22px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.price-from{
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
	color: #333333;
	align-self: flex-start;
}

.price{
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 28px;
	color: #333333;
}

.per-night{
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
	color: #333333;
	align-self: flex-end;
}

.the-cabins-inner{
	display: flex;
	justify-content: space-between;
}

.the-cabins-info{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 50%;	
	margin-left: 150px;
}

.the-cabins-title{
	margin-bottom: 50px;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	color: #5B6460;
}

.the-cabins-text{
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	margin-right: 105px;
	margin-bottom: 20px;
}

.the-cabins-link{
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	color: #5B6460;
	text-decoration: none;
	border-bottom: 2px solid #5B6460;
}

.the-cabins-img-block{
	background: url("../images/theCabins-background.jpg") no-repeat;
	background-size: cover;
	width: 100%;
	height: 440px;
	margin-bottom: 150px;
}

.container-gallery-photo{
	margin: 0 32px;
}

.gallery-photo-list{
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin-bottom: 150px;
}

.location-map{
	display: flex;
}

.about-the-forest{
	width: 50%;
	min-height: 400px;
	padding-top: 150px;
	padding-bottom: 150px;
	padding-left: 110px;
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	background: #E9ECE0;
}

.the-forest-title{
	margin-bottom: 50px;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	color: #5B6460;
}

.the-forest-text{
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	margin-right: 105px;
	margin-bottom: 20px;
	max-width: 600px;
}

.the-forest-link{
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	color: #5B6460;
	text-decoration: none;
	border-bottom: 2px solid #5B6460;
}

.facilities{
	background: #5B6460;
	padding-top: 150px;
}

.container-facilities{
	max-width: 1400px;
	margin: 0 auto;
}

.facilities-title{
	font-family: 'Open Sans',sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 120px;
}

.facilities-lists{
	display: flex;
	justify-content: space-between;
}

.facilities-list{
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* margin-bottom: 85px; */
}

.facitilies-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 90px;
}

.facitilies-item:last-child{
	margin-bottom: 120px;
}

.facitilies-img{
	margin-bottom: 20px;
}

.facitilies-item p{
	font-family: 'Open Sans',sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	color: #FFFFFF;
}

.more-about-us{
	display: flex;
	position: relative;
	margin-bottom: 150px;
}

.picture-about-us{
	width: 50%;
	height: 700px;
}

.more-about-us-btn{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 70px 30px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	color: #333333;
}

.picture-about-us-first{
	background: url('../images/moreAboutUs/firstPicture.png') no-repeat;
	background-size: cover;
}

.picture-about-us-second{
	background: url('../images/moreAboutUs/secondPicture.png') no-repeat;
	background-size: cover;
}

.stay-in-touch-with-us{
	margin-bottom: 150px;
}

.container-stay-in-touch-with-us{
	max-width: 1400px;
	margin: 0 auto;
}

.stay-in-touch-with-us-inner{
	display: flex;
	justify-content: space-between;
}

.stay-in-touch-with-us-title{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 60px;
	color: #5B6460;
}

.stay-in-touch-with-us-info{
	width: 50%;
}

.stay-in-touch-with-us-info-inner p{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	margin-bottom: 20px;
	padding-top: 50px;
}

.stay-in-touch-with-us-info-links{
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

.stay-in-touch-with-us-info-links a{
	text-decoration: none;
	font-family: 'Open Sans',sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #000000;
}

.stay-in-touch-with-us-info-list{
	list-style: none;
	display: flex;
}

.stay-in-touch-with-us-info-item{
	margin-right: 45px;
}

.stay-in-touch-with-us-picture{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stay-in-touch-with-us-picture-inner{
	background: url('../images/stayInTouchWithUs/firstPicture.png') no-repeat;
	width: 379px;
	height: 188px;
	position: relative;
}

.book-a-hut{
	position: absolute;
	bottom: -100px;
	left: 0;
	display: flex;
	align-items: center;	
	box-sizing: border-box;
}

.book-a-hut-link{
	padding: 36px 77px;
	background: #5B6460;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
}